footer.footer
    .footer-container
        .footer-left
            p &copy; 2024 secureNET. All rights reserved.
        .footer-right
            p Contact us at: 
            a(href="mailto:info@securenet.com") info@securenet.com
            |  |  +1 (747) 223-7403
            p Follow us:
            a.icon(href="https://www.facebook.com/securenet.soln/") 
                i.fa-brands.fa-facebook-f.fa-2x(aria-hidden='true')
            a.icon(href="https://t.me/securenet_global")    
                i.fa-brands.fa-telegram.fa-2x(aria-hidden='true')
            a.icon(href="https://x.com/shub749569291?t=TjYG-JiMVSgWw2wPmICE6w&s=09")
                i.fa-brands.fa-x-twitter.fa-2x(aria-hidden='true')
