header
    .search-wrapper
        span.ti-search
        input(type='search' placeholder='Search')
    .profile-menu
        
        .profile-icon
            
            img(src=`img/user/${user.photo}`  alt='secureNET-User')
        .dropdown-content
            a#logoutbtn(href='#' onclick='logout()') Logout